.main-visual {
  .visual-text {
    transform: translateX(-300px);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition: 0.9s;
  }

  .visual-img-container {
    transform: translateX(300px);
    position: relative;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition: 0.9s;
  }

  &.active {
    .visual-text { 
      transform: translateX(0px);
    }
    .visual-img-container {
      transform: translateX(0px);
    }
  }  
}

#bottom-img {opacity: 0; transform: translateY(100px);}
#bottom-img.show-ani-bottom {transition: opacity 800ms cubic-bezier(.4,0,.2,1),transform 800ms cubic-bezier(.4,0,.2,1); opacity: 1; transform: translateY(0)}
#bottom-txt {opacity: 0; transform: translateY(150px);}
#bottom-txt.show-ani-bottom-txt {transition: opacity 1000ms cubic-bezier(.4,0,.2,1),transform 1000ms cubic-bezier(.4,0,.2,1); opacity: 1; transform: translateY(0)}
