$mainColor: #ff9800;
$textGray: #8e8e8e;
$grayeee: #eeeeee;
$grayFAFA: #fafafa;
$grayD4D4: #d4d4d4;
$gray7979: #797979;
$grayColorF9F9: #f9f9f9;
$grayColorCDCD: #cdcdcd;
$gray8E8E: #8e8e8e;
$grayAEAE: #aeaeae;
$grayD9D9: #d9d9d9;
$grayD8D8: #d8d8d8;
$black333: #333333;
$black4A4A: #4a4a4a;
$errorColor: #ff3131;
$changeColor: #2f80ed;
$optionBlue: #3db4da;
