$mainColor: #FF9800;
$textGray: #8E8E8E;
$grayeee: #EEEEEE;
$grayFAFA: #FAFAFA;
$grayD4D4: #D4D4D4;
$grayColor7979: #797979;
$grayColorF9F9: #F9F9F9;
$grayColorCDCD: #cdcdcd;
$gray8E8E: #8E8E8E;
$grayAEAE: #AEAEAE;
$grayD9D9: #D9D9D9;
$black333: #333333;
$black4A4A: #4A4A4A;
$errorColor: #FF3131;
