$mainColor: #ff9800;
$textGray: #8e8e8e;
$grayeee: #eeeeee;
$grayFAFA: #fafafa;
$grayD4D4: #d4d4d4;
$gray7979: #797979;
$grayCDCD: #cdcdcd;
$grayAEAE: #aeaeae;
$grayD9D9: #d9d9d9;
$grayD8D8: #d8d8d8;
$gray8282: #828282;
$grayF8F8: #f8f8f8;
$grayf2f2: #f2f2f2;
$graybdbd: #bdbdbd;
$grayf5f8fa: #f5f8fa;
$graya6a6a6: #a6a6a6;
$graya7171: #717171;
$graye0e0: #e0e0e0;
$grayeded: #ededed;
$black333: #333333;
$black4A4A: #4a4a4a;
$errorColor: #ff3131;
$changeColor: #2f80ed;
$optionBlue: #3db4da;
