.font-color-grayAEAE {
  color: $grayAEAE;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;;
  letter-spacing: -0.4px;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.2px;
  font-weight: 700;
}

.visual-h3-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

p.caption-font {
  font-size: 10px;
  line-height:12px;
}

.signup-desc-text  {
  padding-left: 8px;
  padding-right: 40px;
  p {
    font-size: 12px;
    line-height: 18px;
    color: $grayAEAE;
  }
}

.error-container {
  display: none;
  margin-top: 6px;
  padding-left: 32px;
  padding-right: 40px;
  position: relative;

  &.active {
    display: block;
  }
  &:after {
    content: "";
    position: absolute;
    background-image: url('../img/error.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 16px;
    height: 16px;
    left: 8px;
    top:3px;
  }
  .error-font {
    font-size: 12px;
    line-height: 18px;
    color: $errorColor;
  }
}

p.secession-font {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  color: $gray8E8E;
  border-bottom: 1px solid $gray8E8E;
}
