.card-wrap {
  text-align: center;
  flex-direction: column;
  display: flex;
  position: relative;

  .detail-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .card-section {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 50px;

    img {
      width: 287px;
      height: auto;
    }
  }

  h4 {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.main-visual {
  padding-top: 91px;
  padding-bottom: 91px;

  .visual-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    .visual-img-container {
      img {
        width: 357px;
        height: auto;
      }
    }
  }
}

.partners-container {
  padding-top: 110px;
  padding-bottom: 150px;
  .inner {
    display: flex;
    align-items: center;
  }
  .partners-item {
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    display: flex;
  }
}

.tip-container {
  padding: 36px 0px;
  .tip-item {
    position: relative;
    cursor: pointer;
    padding-left: 73px;
    padding-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid $grayeee;
    &:after {
      font-size: 24px;
      content: 'Q.';
      color: $gray8282;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 24px;
      top: calc(50%);
      font-family: 'Georgia';
      transform: translateY(-50%);
    }
    &:before {
      content: '';
      background-image: url('../img/circle-bottom.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      position: absolute;
      right: 24px;
      width: 24px;
      height: 24px;
      transition: 0.3s;
    }
    &.active {
      &:before {
        transform: rotate(180deg);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    .tip-content {
      height: 0px;
      opacity: 0;
      transition: 0.25s;
      transform-origin: top;
      h5 {
        display: none;
      }
      &.active {
        margin-top: 24px;
        height: auto;
        opacity: 1;
        transition: 0.3s;
        h5 {
          display: block;
        }
      }
    }
  }
}

.main-bottom-container {
  padding-top: 110px;
  padding-bottom: 80px;
}
