@media all and(max-width:768px) {
  .sub {
    padding-top: 0px;
  }
  .visual-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  .main-visual {
    padding-top: 60px;
    padding-bottom: 60px;
    .inner {
      flex-direction: column;
      align-items: center;
      .visual-img-container {
        .card-section {
          width: 130px;
          height: 130px;
        }
        img {
          width: 365px;
          height: 365px;
        }
      }

      .visual-img-container {
        margin-top: 30px;
      }
    }
  }

  .main-bottom-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    .btn-row {
      flex-direction: column;
    }
  }

  header.nav-container .web {
    display: none;
  }

  header.nav-container {
    .mobile {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      h1 img {
        height: auto;
      }

      .menu img {
        height: 25px;
      }
    }
  }

  .adress-container {
    width: calc(100% - 100px);
  }

  .address-btn-container {
    width: 100px;
  }

  // 스타일 테스트
  .style-test-header-wrap {
    .inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .price-item-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .style-circle-wrap {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;

    &.small {
      max-width: 320px;
      .style-circle-container {
        width: 120px;
        height: 120px;
        h5.small {
          display: block;
        }

        .inner {
          img {
            width: 50%;
          }
        }
      }
    }
    .style-circle-container {
      width: calc(50% - 20px);
      height: 150px;
      margin-bottom: 30px;
      h5.small {
        display: none;
      }
    }
  }
  .step-container {
    .checked-img {
      width: calc(100% / 3 - 16px);
    }
  }

  .style-next-btn {
    padding-left: 24px;
    padding-right: 24px;

    .inner {
      width: 100% !important;
    }
  }

  .style-progress-bar {
    width: 100%;
    height: 2px;
    background-color: $grayeded;
    position: relative;

    .bar {
      position: absolute;
      height: 100%;
      left: 0;
      background-color: $mainColor;
    }
  }

  .intro-list-item {
    flex-direction: column;
    & > div {
      text-align: center;
    }
  }

  .social-login-container {
    ul {
      li {
        width: 48px;
        height: 48px;
      }
    }
  }

  .signup-container .signup-btn-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .serch-wold-container {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
    .search-wold-item {
      flex-shrink: 0;
      margin-bottom: 0;
      padding: 4px 8px;
    }
  }

  footer ul > li a {
    font-size: 12px;
  }

  .partners-container .inner {
    min-width: 2000px;
  }

  .m-profile-container {
    padding: 24px;
    background-color: $grayf5f8fa;
  }

  .m-xbtn img {
    width: 24px;
    height: 24px;
  }

  .sns-drawe-container {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 40px;
    width: calc(100% - 10px);
  }

  .drawer-item-container li {
    img {
      width: 16px;
      height: 16px;
    }
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 19px 20px;
      font-size: 16px;
      line-height: 24px;
      color: $black333;
    }
  }

  .serch-header.active {
    top: 82px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .login-container .login-utils-container {
    &.mobile {
      align-items: flex-start;
      border-bottom: none;
      margin-bottom: 0;
    }
    margin-bottom: 0;
    border-bottom: none;
    flex-direction: column;
  }

  .show-web {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .left-router {
    display: none;
  }

  .mypage-container .right-container {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .profile-wrap {
  }
}
