.mypage-container {
  display: flex;

  .left-router {
    width: 278px;
    box-sizing: border-box;
  }

  .right-container {
    margin-left: 124px;
    width: calc(100% - 380px);
    padding: 40px 0px;
    box-sizing: border-box;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: $grayf5f8fa;
    &:after {
      position: absolute;
      content: '';
      background-image: url('../img/camea.svg');
      background-size: 17px 15px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: $grayeee;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      width: 42px;
      height: 42px;
      left: 50%;
      bottom: 20px;
      transform: translateX(10px);
    }
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .left-link-container {
    ul > li {
      &.logout {
        font-size: 16px;
        line-height: 24px;
        color: $black333;
      }
      a,
      div {
        &.active {
          font-weight: bold;
        }
        display: block;
        cursor: pointer;
        padding-left: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          background-image: url('../img/right-arr-black.svg');
          right: 24px;
        }
        font-size: 16px;
        line-height: 24px;
        color: $black333;

        &:hover {
          background-color: #f5f8fa;
        }
      }
    }
  }
}

.item-list {
}

.item-container {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 33px;
  padding-bottom: 33px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  position: relative;
  margin-bottom: 22px;

  .inner {
    .status {
      padding: 4px 16px;
      border-radius: 24px;
      border: solid 1px $optionBlue;
      .status-txt {
        color: $optionBlue;
        font-size: 14px;
      }

      &.complete {
        background-color: black;
        border-color: black;

        .status-txt {
          color: white;
        }
      }
    }

    .percent-txt {
      font-size: 14px;
      .percent {
        color: $optionBlue;
      }
    }

    .date-txt {
      font-size: 12px;
      color: $gray8282;
    }

    .item-content {
      position: relative;
      padding-right: 35px;
      p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        line-height: 20px;
      }
      &:after {
        top: 50%;
        right: 0;
        content: '';
        position: absolute;
        background-image: url('../img/right-arr-gray.svg');
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
      }
    }
  }
}

.progress-conitaner {
  left: 0;
  top: 0;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 6px;
  position: absolute;
  .progress-back {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 100%;
    width: 100%;
    background-color: $grayD9D9;
  }

  .progress {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $optionBlue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &.complate {
      background-color: black;
    }
  }
}
