.style-intro-step-container {
  transition: 0.3s;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $grayf5f8fa;
  opacity: 0.6;

  .bottom-circle {
    cursor: pointer;
    display: none;
  }

  &.active {
    transition: 0.3s;
    opacity: 1;

    .bottom-circle {
      display: block;
    }
  }
}

.style-test-header-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: white;
  .inner {
    padding-left: 48px;
    padding-right: 48px;

    .style-test-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;

      img {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.step-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  background-color: $grayf5f8fa;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 64px;
}

.step-btn-wrap {
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.step-container {
  padding-top: 40px;
  padding-bottom: 120px;
  width: 100%;
  transition: 0.5s;
  overflow-y: auto;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;

  &.init {
    opacity: 0;
  }
  &.start {
    opacity: 1;
  }
  &.end {
    transform: translateX(-130%);
  }
  .query-item-container {
    display: flex;
    flex-wrap: wrap;
    .query-item {
      width: 33.33333%;
      .img-container {
        padding: 10px;
        img {
          width: 100%;
        }
      }
    }
  }

  .checked-img {
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
    width: calc(100% / 6 - 16px);

    position: relative;
    &.active {
      .img-dim {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);

        background-image: url('../img/primary-check.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
      }
    }
  }

  .style-next-btn {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 60px;

    .inner {
      width: 380px;
      margin: 0 auto;
    }
  }

  .style-upload {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}

.style-circle-wrap {
  display: flex;
  flex-wrap: wrap;

  &.small {
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    max-width: 380px;
    .style-circle-container {
      width: 160px;
      height: 160px;
    }
  }
  .style-circle-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 1px solid $graye0e0;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;

    &.only-border {
      &.active {
        background-color: white;
        color: $mainColor;
        border-color: $mainColor;
      }
    }
    &.active {
      background-color: $mainColor;
      color: white;
    }

    .inner {
      text-align: center;
    }

    .item-img img {
      width: 43px;
      height: 43px;
    }
  }
}

.price-item-container {
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;

  .price-item {
    cursor: pointer;
    font-size: 16px;
    color: $black333;
    text-align: center;
    border: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: $black333;
      color: white;
      border-color: $black333;
    }
  }

  &.two-way {
    display: flex;
    flex-wrap: wrap;

    .price-item {
      width: calc(50% - 4px);

      &:last-child {
        margin-bottom: 24px;
      }

      &:nth-child(2n) {
        margin-right: 4px;
      }
      &:nth-child(2n + 1) {
        margin-left: 4px;
      }
    }
  }
}

.img-item {
  display: flex;
  flex-direction: column;
  width: 32.33%;

  img {
    width: 100px;
    height: 100px;
  }
}
