.intro-visual {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: $grayf5f8fa;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 85px 0;
}

.check-pass {
  p {
    position: relative;
    color: $graya6a6a6;
    padding-left: 20px;
    background-image: url('../img/check-before.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 18px;
  }

  &.active {
    p {
      color: $changeColor;
      background-image: url('../img/check-after.png');
    }
  }
}

.serch-wold-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .search-wold-item {
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 19px;
    color: white;
  }
}

.card-style-wrap {
  width: calc(100% + 26px);
  margin-left: -16px;
  display: flex;
  flex-wrap: wrap;

  .card-style {
    cursor: pointer;
    margin: 0px 13px 24px 13px;
    width: calc(100% / 3 - 26px);
    border: 1px solid $grayf2f2;
    border-radius: 10px;
    .img-container {
      position: relative;
      height: 306px;
      text-align: center;

      img {
        height: 100%;
      }

      .bookmark-container {
        top: 31px;
        right: 34px;
        cursor: pointer;
        position: absolute;

        img {
          width: 20px;
          height: 17px;
        }
      }

      .view-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 16px;
        .inner {
          display: flex;
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.8);
          padding: 8px;

          .cnt-item {
            display: flex;
            align-items: center;
            margin-right: 10px;
            p {
              font-size: 14px;
              line-height: 20px;
              color: white;
            }
            img {
              width: 13px;
              height: 13px;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .desc-container {
      padding: 24px;
      border-top: 1px solid $grayf2f2;
    }
  }
}

.tip-wrap {
  display: flex;
  justify-content: space-between;

  .tip-item-container {
    display: flex;
    flex-wrap: wrap;
    .tip-item {
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px 16px;
      border: 1px solid $black333;
      border-radius: 20px;

      &.active {
        background-color: $black333;
        color: white;
      }
    }
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  .circle-gray {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: 1px solid $grayf2f2;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;

    h6 {
      color: $graye0e0;
    }
    &.active {
      h6 {
        color: $mainColor;
      }
    }
  }
}
